/befast-projeto/bin/src/main/java/com/befast/springboot/befastprojeto/jwt/*.class
/befast-projeto/bin/src/main/java/com/befast/springboot/basic/auth/*.class
/.vscode/launch.json
/.vscode
/befast-projeto/bin/src/main/java/com/befast/springboot/befastprojeto/helloworld/*.class
/befast-projeto/bin/src/main/java/com/befast/springboot/befastprojeto/todo/*.class
